.change-password{
  .central-component-sub-2{
    align-items: flex-start !important;
    justify-content: flex-start !important;
    min-height: 0rem !important;
    // height: 560px;
    .heading{
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: bold;
      font-size: 26px;
      line-height: 35px;
      color: #344563;
      margin-bottom: 11px !important;
    }
    .warning-criteria{
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 29px;
      color: #91909A;
      margin-bottom: 15px !important;
    }
  }
}
