.modal {
    display    : flex !important;
    align-items: center;
}

div.fade.in.modal {
    display: flex;
}

.contained-modal-title-vcenter {
    max-width: 100% !important;

    button {
        outline       : none !important;
        outline-offset: none !important;
    }
}

.modal-dialog-centered {
    max-width: 70% !important;
    margin   : auto;
}

.modal-dialog {
    width: 70% !important;
}

.modal-header {
    border: none !important;
}

.view-residents-title {
    margin     : 0 0 10px 0;
    font-family: 'Open Sans';
    font-style : normal;
    font-weight: bold;
    font-size  : 20px;
    line-height: 22px;
    text-align : center;
    color      : #009999;
}

.tBody {
    display       : flex;
    flex-direction: column;
    max-height    : 50vh;
    overflow-y    : auto;
    overflow-x    : hidden;
}

.residents-table-row-modal {
    background   : white;
    height       : 90;
    margin-bottom: 5px;
    background   : #FFFFFF;
    border-radius: 0px !important;

    td {
        border : none;
        outline: none;
    }
}

.text-primary {
    border-radius: 5px;
}

table {
    background: rgb(246, 247, 251)
}

@media screen and (max-width: 900px) {

    .contained-modal-title-vcenter {
        margin: 0;
    }

    .modal-dialog-centered {
        max-width: 100% !important;
        margin   : 0;
    }

    .modal-dialog {
        width: 100% !important;
    }

    .tBody {
        display       : flex;
        flex-direction: column;
        max-height    : 30vh;
        overflow-y    : auto;
        overflow-x    : auto;
    }

    .td1-m {
        width: 35% !important
    }

    .td2-m {
        width: 30% !important
    }

    .td3-m {
        width: 35% !important
    }
}

.text-right {
    text-align: left !important;
}

thead {
    th {
        font-family: 'Open Sans';
        font-style : normal !important;
        font-weight: normal !important;
        font-size  : 16px !important;
        line-height: 22px !important;
        color      : #6C7B8A !important;
    }

}

.close {
    font-size  : 40px !important;
    font-weight: normal !important;
    width      : 60px !important;
    height     : 60px !important;
}

tbody {
    tr {
        td {
            padding: 0 !important;
        }
    }
}

@media screen and (max-width:1100px) {
    .modal-dialog-centered {
        max-width: 90% !important;
        margin   : auto;
    }

    .modal-dialog {
        width: 90% !important;
    }
}

@media screen and (max-height:500px) {

    .contained-modal-title-vcenter {
        margin: 0;
    }

    .modal-dialog-centered {
        max-width: 100% !important;
        margin   : 0;
    }

    .modal-dialog {
        width : 100% !important;
        margin: 0;
    }

    .tBody {
        display       : flex;
        flex-direction: column;
        max-height    : 30vh;
        overflow-y    : auto;
        overflow-x    : auto;
    }
}