{
    "presets":[
        "next/babel"
    ],
    "plugins": [
        ["module-resolver",{
            "root":["./"],
            "alias":{
                "$config":"./configuration",
                "$middleware":"./redux/middleware",
                "$components":"./components",
                "underscore":"lodash"
            }
        }]
    ]
}