.image-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  .roundedCircle {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    box-sizing: border-box;
  }
  .image-badge {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #344563;
    background: #dadee2;
    margin-left: -10px;
    padding: 0 !important;
  }
  .member-name {
    margin-left: 5px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600px;
    font-size: 14px;
    color: #344563;
  }

  @media screen and (max-width: 1000px) {
    .roundedCircle {
      width: 40px !important;
      height: 40px !important;
      border-radius: 20px !important;
    }
    .image-badge {
      width: 40px !important;
      height: 40px !important;
      border-radius: 20px !important;
    }
    .member-name {
      font-size: 12px !important;
    }
  }

  @media screen and (max-width: 650px) {
    .roundedCircle {
      width: 30px !important;
      height: 30px !important;
      border-radius: 15px !important;
    }
    .image-badge {
      width: 30px !important;
      height: 30px !important;
      border-radius: 15px !important;
      font-size: 10px !important;
    }
    .member-name {
      font-size: 10px !important;
    }
  }
  @media screen and (max-width: 550px) {
    .roundedCircle {
      width: 20px !important;
      height: 20px !important;
      border-radius: 10px !important;
    }
    .image-badge {
      width: 20px !important;
      height: 20px !important;
      border-radius: 10px !important;
      font-size: 8px !important;
      margin-left: -3px;
    }
    .member-name {
      font-size: 8px !important;
      line-height: 10px;
    }
  }
  @media screen and (max-width: 450px) {
    .roundedCircle {
      width: 15 !important;
      height: 15 !important;
      border-radius: 8px !important;
    }
    .image-badge {
      width: 15 !important;
      height: 15 !important;
      border-radius: 8px !important;
      font-size: 7px !important;
      margin-left: -3px;
    }
    .member-name {
      font-size: 7px !important;
      line-height: 10px;
    }
  }
}
