@mixin __flex-box($flex-flow, $justif-content, $align-items, $flex-grow) {
  display: flex;
  flex-flow: $flex-flow;
  justify-content: $justif-content;
  align-items: $align-items;
  flex-grow: $flex-grow;
}

@mixin __font-style(
  $font-family,
  $font-style,
  $font-weight,
  $font-size,
  $line-height,
  $color
) {
  font-family: $font-family;
  font-style: $font-style;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
}

.contact-info-container {
  @include __flex-box(column wrap, space-between, none, 1);
  max-width: 500px;
  min-width: 300px;
  min-height: 550px;
  padding: 5px 10px 5px 15px;
  margin: 10px 20px 10px 20px;

  .contact-info-heading {
    @include __font-style(Open Sans, normal, 600, 24px, 33px, #344563);
  }

  .contact-info-list-container {
    @include __flex-box(column wrap, space-around, none, 0.5);
  }
  .contact-row {
    @include __flex-box(row wrap, none, center, 0);

    .contact-row-title {
      @include __font-style(Open Sans, normal, normal, 16px, 22px, #6c7b8a);
    }
    .contact-row-val {
      @include __font-style(Open Sans, normal, bold, 20px, 27px, #344563);
    }
    div {
      display: flex;
      flex-flow: column wrap;
      margin-left: 15px;
      min-width: 150px;
    }
  }
  img {
    align-self: center;
  }
}
