@import './contactUsForm.scss';
@import './contactInfo.scss';

.contact-us-body-container{
    display: flex;
    min-height: 92.7vh;
    background: #F6F7FB;
    margin:0;
    justify-content: center;
    align-items: center;
    .contact-body-sub{
        display: flex;
        flex-flow: row wrap-reverse;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 1050px;
        
    }
}