@mixin flex-box-column-center {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}

.central-component-container {
  @include flex-box-column-center();
  .central-component-sub {
    width: 100%;
    max-width: 450px;
    min-width: 250px;
    @include flex-box-column-center();
    padding-top: 20px;

    .central-component-sub-2 {
      width: 100%;
      @include flex-box-column-center();
      min-height: 70vh;
      margin-top: 20px;
      padding: 15px;
      background: #ffffff;
      padding-left: 35px;
      padding-right: 35px;
    }
  }
}

@mixin flex-box-1 {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 320px;
  padding-bottom: 15px;
}
.central-component-body-1 {
  @include flex-box-1();
  .inp-compo {
    display: block;
    width: 100%;
    height: 40px;
    padding-left: 10px;
    background: #ffffff;
    border: 1px solid #e9e9e9;
    box-sizing: border-box;
    border-radius: 6px;
  }
  .inp-compo::placeholder {
    color: #000;
    font-weight: bold;
  }
  .inp-container {
    width: 99%;
    .inp-label {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 21px;
      display: flex;
      align-items: center;
      color: #6c7b8a;
    }
  }
  .central-component-heading {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #344563;
    align-self: center;
    margin-top: 20px;
  }
  .central-component-warning {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #e91e63;
  }
}

.central-component-body-2 {
  @include flex-box-1();
  .central-component-warning {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #e91e63;
  }

  .inp-compo {
    display: block;
    width: 100%;
    height: 40px;
    padding-left: 10px;
    background: #ffffff;
    border: 1px solid #e9e9e9;
    box-sizing: border-box;
    border-radius: 6px;
  }
  .inp-compo::placeholder {
    color: #000;
    font-weight: bold;
  }
  .inp-container {
    width: 99%;
    .inp-label {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 21px;
      display: flex;
      align-items: center;
      color: #6c7b8a;
    }
  }

  .btn-container {
    width: 100%;
    display: flex;
    justify-content: space-around;

    .btn-class {
      display: flex;
      justify-content: center;
      align-self: center;
      align-items: center;
      border: 1px solid #6c7b8a;
      background: #ffffff;
      border-radius: 8px;
      color: #000;
      min-width: 150px;
      height: 45px;
      transition: all 0.4s ;
      
     
    }
    button {
      border: 1px solid #6c7b8a;
      outline: none;
      background: #ffffff;
      border-radius: 8px;
      color: #000;
      min-width: 150px;
      height: 45px;
      text-align: center;
      transition: all 0.3s;
    }
    .btn-class-isloading{
      display: flex;
      justify-content: center;
      align-self: center;
      align-items: center;
      border: none;
      outline: none;
      background: #009999;
      cursor: pointer;
      border-radius: 8px;
      color: rgb(255, 255, 255);
      min-width: 150px;
      height: 45px;
      text-align: center;
      transform: translate(0, -4px);
      transition: all 0.3s;
    }
    
    button:hover, .btn-class:hover, .btn-class:focus {
      border: none;
      outline: none;
      background: #009999;
      cursor: pointer;
      border-radius: 8px;
      color: rgb(255, 255, 255);
      min-width: 150px;
      height: 45px;
      text-align: center;
      transform: translate(0, -4px);
      transition: all 0.3s;
    }
    button:active, .btn-class:active {
      border: none;
      outline: none;
      background: #009999;
      border-radius: 8px;
      color: rgb(255, 255, 255);
      min-width: 150px;
      height: 45px;
      text-align: center;
      transform: translate(0);
      opacity: 0.6;
      transition: all 0.3s;
    }
  }
}
