.home-address-heading{
    font-family: 'Open Sans';
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #344563;
margin-top: 20px;
span{
    color: #009999;
    font-weight: 600;
}
}
.home-address-heading-2{
    font-family: 'Open Sans';
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 25px;
color: #344563;
}
.home-address-error{

font-family: 'Open Sans';
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
color: #E91E63;
margin-bottom: 20px;
}

