.verify-email-heading {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #344563;
}

.verify-email-heading-2 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6c7b8a;
}
.verify-email-help {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #6c7b8a;
}

.verify-email-btn {
  background: #009999;
  border-radius: 8px;
  width: 100%;
  color: white;
  outline: none;
  height: 47px;
}
.btn-class-ve {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    border: 1px solid #6c7b8a;
    background: #ffffff;
    border-radius: 8px;
    color: #000;
    min-width: 150px;
    width: 90%;
    height: 45px;
    transition: all 0.4s ;
    
   
  }
  .btn-class-isloading-ve{
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    border: none;
    outline: none;
    background: #009999;
    cursor: pointer;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    min-width: 150px;
    height: 45px;
    text-align: center;
    transform: translate(0, -4px);
    transition: all 0.3s;
  }
  
 .btn-class-ve:hover, .btn-class-ve:focus {
    border: none;
    outline: none;
    background: #009999;
    cursor: pointer;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    min-width: 150px;
    height: 45px;
    text-align: center;
    transform: translate(0, -4px);
    transition: all 0.3s;
  }
  .btn-class-ve:active {
    border: none;
    outline: none;
    background: #009999;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    min-width: 150px;
    height: 45px;
    text-align: center;
    transform: translate(0);
    opacity: 0.6;
    transition: all 0.3s;
  }
  