.manage-document-component {
  .table-section {
    max-height: calc(100vh - 250px);
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 5px;
    .table-responsive {
      padding: 0px !important;
    }
    table {
      min-width: 700px;
      background: rgb(246, 247, 251);
      tr {
        display: flex;
        flex-direction: row;
      }
      tr:hover {
        cursor: pointer;
      }
      thead {
        tr {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          td {
            border: none !important;
            div {
              label {
                height: 22px;
                margin-bottom: 7px;
                font-family: "Open Sans";
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
                display: flex;
                align-items: center;
                color: #6c7b8a;
              }
            }
          }
          .td1-m {
            width: calc(33.33% - 79px);
            margin-right: 20px;
            margin-left: 30px;
          }
          .td2-m {
            width: calc(33.33% - 79px);
            margin-right: 20px;
          }
          .td3-m {
            width: calc(33.33% - 79px);
            margin-right: 20px;
          }
          .td4-m {
            width: 79px !important;
            margin-right: 15px;
          }
        }
      }
      tbody {
        max-height: calc(100vh - 300px);
        .residents-table-row-modal {
          background: #ffffff;
          height: 54px !important;
          margin-bottom: 5px;
          border: 1px solid #ffffff;
          box-sizing: border-box;
          border-radius: 5px;
          align-items: center;
          justify-content: space-between;
          td {
            border: none;
            outline: none;
            padding: 0 !important;
          }
          td {
            padding-top: 8px;
            padding-bottom: 11px;
            margin-right: 20px;
            height: 34px;
            display: flex;
            align-items: center;
            box-sizing: border-box;
            background: #ffffff;
            border-radius: 6px;
            div {
              .input1 {
                height: 24px;
                padding-left: 20px;
                padding-bottom: 13px;
                padding-top: 16px;
                border: none;
                outline: none;
                font-family: "Open Sans";
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                color: #344563;
              }

              .input2 {
                border: none;
                height: 24px;
                // padding-left: 28px;
                // padding-bottom: 13px;
                // padding-top: 16px;
                outline: none;
                font-family: "Open Sans";
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                color: #344563;
              }
              .input3 {
                border: none;
                height: 24px;
                padding-left: 20px;
                padding-bottom: 13px;
                padding-top: 16px;
                outline: none;
                font-family: "Open Sans";
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 19px;
                color: #91909a;
              }
              input:focus {
                background: #f0f9f9;
                border: 1px solid #ccebeb;
                box-sizing: border-box;
                box-shadow: 0px 12px 50px rgba(0, 0, 0, 0.04);
                border-radius: 6px;
              }
            }
          }
          .td1-m {
            border: 1px solid #e9e9e9 !important;
            input {
              width: 100%;
            }
            width: calc(33.33% - 90px);
            align-items: center;
            display: flex;
            margin-left: 30px !important;
          }
          .td2-m {
            border: 1px solid #e9e9e9 !important;
            input {
              width: 100%;
            }
            width: calc(33.33% - 90px);
            align-items: center;
            display: flex;
          }
          .td3-m {
            border: 1px solid #e9e9e9 !important;
            input {
              width: 100%;
            }
            width: calc(33.33% - 90px);
            align-items: center;
            display: flex;
          }
          .td4-m {
            width: 79px !important;
            align-items: center;
            display: flex;
            justify-content: center;
            margin: 0px 15px 0px 0px !important;
            border: none !important;
            div {
              display: "flex";
              flex-direction: column;
              width: 79px;
              span {
                width: 79px;
                display: flex;
                justify-content: space-around;
                .btn {
                  background: none;
                  outline: none;
                  border: none;
                  padding: 0px;
                  img {
                    width: 24px;
                    height: 24px;
                  }
                }
                .btn:hover {
                  background-color: #ffffff !important;
                }
                .btn:active {
                  background-color: #ffffff !important;
                }
                .btn:focus {
                  background-color: #ffffff !important;
                }
              }
            }
          }
        }
      }
    }
  }
  .invite-btn-row {
    width: 100%;
    display: flex;
    .invite-span {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 50px;
      .add-row-invitation-btn {
        background: transparent;
        border: 0px;
        outline: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        .add-btn {
          width: 50px;
          height: 50px;
          border-radius: 25px;
        }
        .add-btn:hover {
          box-shadow: 0px 0px 8px 2px #ccc;
        }
      }
      p {
        margin: 0px !important;
        margin-left: 10px !important;
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 600;
        font-size: 16px !important;
        line-height: 22px;
        color: #6c7b8a;
      }
    }
  }
  @media screen and (max-width: 1300px) {
    .table-section {
      table {
        .tBody {
          .residents-table-row-modal {
            height: 54px !important;
          }
          tr {
            td {
              height: 34px !important;
              div {
                label {
                  height: 18px !important;
                  font-size: 14px !important;
                  line-height: 18px !important;
                }
                .input1 {
                  height: 24px !important;
                  font-size: 15px !important;
                  line-height: 18px !important;
                }

                .input2 {
                  height: 24px !important;
                  font-size: 13px !important;
                  line-height: 18px !important;
                }
                .input3 {
                  height: 24px !important;
                  font-size: 12px !important;
                  line-height: 15px;
                }
              }
            }
          }
        }

        .td1-m {
          margin-left: 20px !important;
        }
      }
    }
    .invite-btn-row {
      .invite-span {
        .add-row-invitation-btn {
          .add-btn {
            width: 40px;
            height: 40px;
            border-radius: 20px;
          }
          .add-btn:hover {
            box-shadow: 0px 0px 8px 2px #ccc;
          }
        }
        p {
          font-size: 12px !important;
        }
      }
    }
  }

  @media screen and (max-width: 1000px) {
    .table-section {
      table {
        .tBody {
          .residents-table-row-modal {
            height: 54px !important;
          }
          tr {
            td {
              height: 34px !important;
              div {
                label {
                  height: 15px !important;
                  font-size: 13px !important;
                  line-height: 15px !important;
                }
                .input1 {
                  height: 30px !important;
                  font-size: 13px !important;
                  line-height: 15px !important;
                }

                .input2 {
                  height: 30px !important;
                  font-size: 11px !important;
                  line-height: 14px !important;
                }
                .input3 {
                  height: 30px !important;
                }
              }
            }
          }
        }

        .td1-m {
          margin-left: 15px !important;
        }
        .td4-m {
          div {
            span {
              .btn {
                img {
                  width: 20px !important;
                  height: 20px !important;
                }
              }
            }
          }
        }
      }
    }

    .invite-btn-row {
      .invite-span {
        .add-row-invitation-btn {
          .add-btn {
            width: 35px;
            height: 35px;
            border-radius: 18px;
          }
          .add-btn:hover {
            box-shadow: 0px 0px 8px 2px #ccc;
          }
        }
        p {
          font-size: 10px !important;
        }
      }
    }
  }

  @media screen and (max-width: 500px) {
    .invite-btn-row {
      position: absolute !important;
      bottom: 10px !important;
      .invite-span {
        width: 100% !important;
        justify-content: center;
      }
    }
  }
}
.add-record-modal-manage-document {
  // display: flex;
  .modal-dialog-centered {
    width: 470px !important;
    height: 635px !important;
    margin: auto !important;
    .modal-content {
      width: 470px !important;
      height: 660px !important;
      .modal-header {
        padding: 0px !important;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        border: none !important;
        span {
          color: #344563 !important;
          width: 36px !important;
          height: 36px !important;
          margin: 15px 15px 0px 0px !important;
          padding: 0px !important;
          background: #e8eaed !important;
          // opacity: 0.15 !important;
          border-radius: 18px !important;
          color: #344563 !important;
          outline: none !important;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .close {
          display: none;
        }
      }
      .modal-body {
        border: none !important;
        margin: 0px 40px 40px 40px;
        padding: 0px !important;
        .row-1 {
          margin-bottom: 14px;
          .col {
            p {
              font-family: "Open Sans";
              font-style: normal;
              font-weight: 600;
              font-size: 20px;
              line-height: 27px;
              color: #344563;
            }
          }
        }
        .row-2 {
          .col {
            label {
              font-family: "Open Sans";
              font-style: normal;
              font-weight: 600;
              font-size: 16px;
              line-height: 22px;
              display: flex;
              align-items: center;
              color: #6c7b8a;
            }
          }
        }
        .row-3 {
          margin-bottom: 20px;
          .col {
            div {
              background: #ffffff;
              border: 1px solid #e9e9e9;
              box-sizing: border-box;
              box-shadow: 0px 12px 50px rgba(0, 0, 0, 0.04);
              border-radius: 6px;
              padding: 10px;
              width: 100% !important;
              height: 50px !important;
              .dropDownInput {
                background: #ffffff;
                border: none;
                width: 100% !important;
                height: 30px !important;
                font-family: "Open Sans";
                font-style: normal;
                -webkit-appearance: none;
                background: url("/assets/mockup/drop-down-icon.png") no-repeat
                  right;
                font-weight: normal;
                font-size: 16px;
                line-height: 22px;
                outline: none;
                color: #91909a;
              }
            }
          }
        }
        .row-4 {
          .getFileContainer{
            display: flex;
            flex-direction: column;
            height: 100%;
            .cancleFile{
              display: flex;
              justify-content: flex-end;
              padding: 10px 10px 0px 0px;
              span{
                font-size: 15px;
                border-radius: 100%;
                background: #e8eaed;
                height: 20px;
                width: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
            .fileName{
              display: flex;
              justify-content: center;
              align-items: center;
              height: 100%;
              font-family: "Open Sans";
              font-style: normal;
              font-weight: 600;
              font-size: 20px;
              line-height: 27px;
              color: #344563;
            }
          }
          .col {
            div {
              width: 390px;
              height: 160px;
              background: #ffffff;
              border: 1px solid #e9e9e9;
              box-sizing: border-box;
              border-radius: 8px;
              margin-bottom: 30px;
            }
          }
          .drag-n-drop{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 32px 10px 26px 10px;
            img{
              color: #6C7B8A;
              width: 29px;
              height: 32px;
            }
            button{
              font-family: 'Open Sans';
              font-style: normal;
              font-weight: 600;
              font-size: 16px;
              line-height: 22px;
              display: flex;
              align-items: center;
              color: #009999;
              border: none;
              outline: none;
              background-color: transparent;
              margin-top: 12px;
              margin-bottom: 7px;
            }
            span{
              font-family: 'Open Sans';
              font-style: normal;
              font-weight: normal;
              font-size: 16px;
              line-height: 29px;
              display: flex;
              align-items: center;
              color: #91909A;
            }
          }
        }
        .row-5 {
          .col {
            label {
              font-family: "Open Sans";
              font-style: normal;
              font-weight: 600;
              font-size: 16px;
              line-height: 22px;
              display: flex;
              align-items: center;
              color: #6c7b8a;
            }
          }
        }
        .row-6 {
          .col {
            div {
              width: 100%;
              height: 100px;
              background: #ffffff;
              border: 1px solid #e9e9e9;
              box-sizing: border-box;
              border-radius: 8px;
              padding: 16px 20px 16px 20px;
              margin-bottom: 30px;
              .form-control {
                font-family: "Open Sans";
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 19px;
                color: #91909a;
                border: none;
              }
            }
          }
        }
        .row-7 {
          button {
            width: 100%;
            height: 50px;
            background: #009999;
            border-radius: 50px;
            font-family: "Open Sans";
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
            text-align: center;
            color: #ffffff;
            border: none;
            outline: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .add-record-modal-manage-document{
    .modal-dialog-centered{
      width: 100% !important;
      .modal-content{
      width: 100% !important;
        .modal-body{
          margin: 0px 10px 10px 10px !important;
        }
      }
    }
  }
}