.contained-modal-title-vcenter {
  .modal {
    display: flex !important;
    align-items: center;
  }

  div.fade.in.modal {
    display: flex;
  }
  .contained-modal-title-vcenter {
    max-width: 100% !important;

    button {
      outline: none !important;
      outline-offset: none !important;
    }
  }
  .modal-header {
    border: none !important;
  }

  .close {
    font-size: 40px !important;
    font-weight: normal !important;
    width: 60px !important;
    height: 60px !important;
    outline: none;
  }
  .header-main-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    .header-modal-card {
      border: none;
      box-shadow: none;
      .header-modal-card-body {
        display: flex;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .view-residents-title {
          margin: 0 0 10px 0;
          font-family: "Open Sans";
          font-style: normal;
          font-weight: bold;
          font-size: 20px;
          line-height: 22px;
          text-align: center;
          color: #009999;
        }
        .residence-since {
          font-family: "Open Sans";
          font-style: normal;
          font-weight: normal;
          font-size: 14;
          line-height: 19px;
          color: "#7D8DA1";
        }
        .residents-time {
          font-family: "Open Sans";
          font-style: normal;
          font-weight: 600;
          font-size: 14;
          line-height: "19px";
          color: "#344563";
        }
      }
    }
  }

  table {
    background: rgb(246, 247, 251);
    tr{
      display: flex;
      flex-direction: row;
    }
    th{
      font-size: 14px !important;
    }

    .td1-m {
      width: 30%;
      align-items: center;
      display: flex;
    }
    .td2-m {
      width: 20%;
      align-items: center;
      display: flex;
    }
    .td3-m {
      width: 30%;
      align-items: center;
      display: flex;
    }
    .td4-m {
      width: 20%;
      align-items: center;
      display: flex;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: "ellipsis";
      text-align: left !important;
    }
    .tBody {
      display: flex;
      flex-direction: column;
      max-height: 50vh;
      overflow-y: auto;
      overflow-x: hidden;
      .residents-table-row-modal {
        background: white;
        height: 90;
        margin-bottom: 5px;
        background: #ffffff;
        border-radius: 0px !important;
        td {
          border: none;
          outline: none;
          padding: 0 !important;
        }
      }
    }
    thead {
      th {
        font-family: "Open Sans";
        font-style: normal !important;
        font-weight: normal !important;
        font-size: 16px !important;
        line-height: 22px !important;
        color: #6c7b8a !important;
      }
    }
  }
}

.modal-dialog-centered {
  max-width: 70% !important;
  margin: auto;
}

.modal-dialog {
  width: 70% !important;
}

@media screen and (max-width: 1100px) {
  .modal-dialog-centered {
    max-width: 90% !important;
    margin: auto;
  }

  .modal-dialog {
    width: 90% !important;
  }
}

@media screen and (max-width: 750px) {
  .contained-modal-title-vcenter {
    margin: 0;
  }

  .modal-dialog-centered {
    max-width: 100% !important;
    margin: 0;
  }

  .modal-dialog {
    width: 100% !important;
  }

  .tBody {
    display: flex;
    flex-direction: column;
    max-height: 30vh;
    overflow-y: auto;
    overflow-x: auto;
    tr {
      height: 50px !important;
    }
  }
  .contained-modal-title-vcenter {
    .td1-m {
      width: 30% !important;
      font-size: 10px !important;
      .roundedCircle {
        width: 35px !important;
        height: 35px !important;
        border-radius: 18px !important;
      }
    }

    .td2-m {
      width: 20% !important;
      font-size: 10px !important;
    }
    .td3-m {
      width: 30% !important;
      font-size: 10px !important;
    }
    .td4-m {
      width: 25% !important;
      font-size: 10px !important;
    }
    tr {
      margin: 0 0 2px 0 !important;
      padding: 0 !important;
    }
    td {
      margin: 0 !important;
      padding: 0 !important;
    }
    th {
      margin: 0 !important;
      padding: 0 !important;
    }
  }
}

@media screen and (max-width: 650px) {
  .modal-content {
    width: 97% !important;
  }
}

@media screen and (max-width: 500px) {
  .contained-modal-title-vcenter {
    table {
      width: 470px !important;
    }
    
  }
}

@media screen and (max-width: 500px) {
  .contained-modal-title-vcenter {
    .view-residents-address {
      font-size: 14px !important;
    }
  }
}

@media screen and (max-height: 500px) {
  .contained-modal-title-vcenter {
    margin: 0;
  }

  .modal-dialog-centered {
    max-width: 100% !important;
    margin: 0;
  }

  .modal-dialog {
    width: 100% !important;
    margin: 0;
  }

  .contained-modal-title-vcenter {
    .tBody {
      display: flex;
      flex-direction: column;
      max-height: 30vh;
      overflow-y: auto;
      overflow-x: auto;
    }
  }
}
