.view-resident-component {
  .section-top {
    // .main-card {
    //   background: #f6f7fb;
    //   border: none;
    //   box-shadow: none;
    // }
    // .card-body {
    //   display: flex;
    //   width: 100%;
    //   justify-content: center;
    //   flex-direction: column;
    //   align-items: center;
    //   .view-residents-title {
    //     margin: 0 0 10px 0;
    //     font-family: "Open Sans";
    //     font-style: normal;
    //     font-weight: bold;
    //     font-size: 20px;
    //     line-height: 22px;
    //     text-align: center;
    //     color: #009999;
    //   }
    //   .view-residents-address {
    //     height: 22px;
    //     left: 797px;
    //     top: 125px;
    //     font-family: "Open Sans";
    //     font-style: normal;
    //     font-weight: normal;
    //     font-size: 16px;
    //     display: flex;
    //     align-items: center;
    //     letter-spacing: 0.5px;
    //     color: #344563;
    //     margin: 0px;
    //     padding: 0px;
    //     transition: all linear 0.3s;
    //   }
    // }
    .search-bar {
      .form {
        background: #ffffff;
        border: none !important solid #e9e9e9;
        box-sizing: border-box;
        box-shadow: 0px 12px 50px rgba(0, 0, 0, 0.04);
        border-radius: 8px;
      }
      .input-group {
        height: 50px;
        align-items: center;
        outline: none;
      }
    }
  }
  .table-section {
    .table-content {
      tr {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      .table-head {
        .th {
          font-family: "Open Sans";
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 22px;
          color: #6c7b8a;
        }
        .Col-1 {
          width: 35%;
        }
        .Col-2 {
          width: 35%;
          justify-content: space-between;
          display: flex;
          align-items: center;
        }
        .Col-3 {
          width: 30%;
          display: flex;
          justify-content: flex-end;
        }
      }
      .table-tbody {
        display: flex;
        flex-direction: column;
        height: calc(100vh - 350px);
        overflow-y: auto;
        overflow-x: auto;
        background: rgb(246, 247, 251);
        .residents-table-row {
          background: white;
          height: 90px;
          margin-bottom: 5px;
          background: #ffffff;
          border-radius: 6px;
          cursor: pointer;

          td {
            border: none;
            outline: none;
            font-family: "Open Sans";
            font-style: normal;
            font-weight: bold;
            font-size: 17px;
            line-height: 22px;
            color: #6c7b8a;
          }
          .Col-1 {
            padding-left: 30px;
            transition: display 1s;
            font-family: "Open Sans";
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 22px;
            color: #344563;
            width: 35%;
            align-items: center;
            display: flex;
          }
          .Col-2 {
            width: 35%;
            justify-content: space-between;
            display: flex;
            align-items: center;
          }
          .Col-3 {
            font-family: "Open Sans";
            font-style: normal;
            font-weight: normal;
            font-size: 17px;
            line-height: 22px;
            text-align: right;
            color: #91909a;
            width: 30%;
            align-items: center;
            display: flex;
            justify-content: flex-end;
          }
        }
        tr:hover {
          box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.07);
          cursor: pointer;
          z-index: 1;
        }
      }
    }
  }

  @media screen and (max-width: 1300px) {
    .table-tbody {
      .residents-table-row {
        .Col-1 {
          font-size: 15px !important;
        }
        .Col-3 {
          font-size: 15px;
        }
      }
    }
  }

  @media only screen and (max-width: 1000px) {
    .table-section {
      .table-tbody {
        tr {
          height: 70px !important;
        }
      }
    }
  }
  @media screen and (max-width: 900px) {
    .table-section {
      .table-head {
        .th {
          font-size: 13px !important;
        }
      }
      .table-tbody {
        .residents-table-row {
          .Col-1 {
            font-size: 13px !important;
          }
          .Col-3 {
            font-size: 13px !important;
          }
        }
      }
    }
  }

  @media screen and (max-width: 750px) {
    .table-section {
      .table-head {
        tr {
          height: 30px !important;
        }
        .th {
          font-size: 12px !important;
          line-height: 10px !important;
          padding: 0px !important;
        }
      }
      .table-tbody {
        tr {
          height: 50px !important;
        }
        .residents-table-row {
          .Col-1 {
            font-size: 12px !important;
          }
          .Col-3 {
            font-size: 12px !important;
          }
        }
      }
      .Col-1 {
        padding: 2px !important;
      }
      .Col-3 {
        padding: 2px !important;
      }
    }
  }

  @media screen and (max-width: 450px) {
    .section-top {
      .view-residents-title {
        margin: 0px !important;
        font-size: 15px !important;
        line-height: 15px !important;
      }
      .view-residents-address {
        font-size: 12px !important;
        letter-spacing: 0.3px !important;
      }
      .search-bar {
        margin-top: 5px !important;
        .form {
          align-items: center;
          display: flex;
          flex-direction: row;
        }
        .input-group {
          height: 30px !important;
          margin-bottom: 0px !important;
          .input-group-append {
            height: 30px !important;
          }
          input {
            height: 30px !important;
          }
        }
      }
    }
    .table-section {
      min-width: 330px !important;
      .table-head {
        .th {
          font-size: 10px !important;
          line-height: 10px !important;
        }
      }
      .table-tbody {
        tr {
          height: 35px !important;
        }
        .residents-table-row {
          .Col-1 {
            font-size: 10px !important;
          }
          .Col-3 {
            font-size: 10px !important;
          }
        }
      }
      .Col-1 {
        padding: 2px !important;
      }
      .Col-3 {
        padding: 2px !important;
      }
    }
  }

  @media screen and (max-height: 650px) {
    .table-section {
      height: 260px !important;
      .table-tbody {
        height: 255px !important;
      }
    }
  }

  @media screen and (max-width: 360px) {
    .section-top {
      .view-residents-title {
        margin: 0px !important;
        font-size: 12px !important;
        line-height: 12px !important;
      }
      .view-residents-address {
        font-size: 10px !important;
        letter-spacing: 0px !important;
      }
    }
    .table-section {
      .table-head {
        .th {
          font-size: 8px !important;
          line-height: 8px !important;
        }
      }
      .table-tbody {
        tr {
          height: 30px !important;
        }
        .residents-table-row {
          .Col-1 {
            font-size: 8px !important;
          }
          .Col-3 {
            font-size: 8px !important;
          }
        }
      }
    }
  }

  @media screen and (max-height: 569px) {
    .table-section {
      height: 220px !important;
      .table-tbody {
        height: 220px !important;
      }
    }
  }
}
