.view-resident-component {
  .section-top {
    // .main-card {
    //   background: #f6f7fb;
    //   border: none;
    //   box-shadow: none;
    // }
    // .card-body {
    //   display: flex;
    //   width: 100%;
    //   justify-content: center;
    //   flex-direction: column;
    //   align-items: center;
    //   .view-residents-title {
    //     margin: 0 0 10px 0;
    //     font-family: "Open Sans";
    //     font-style: normal;
    //     font-weight: bold;
    //     font-size: 20px;
    //     line-height: 22px;
    //     text-align: center;
    //     color: #009999;
    //   }
    //   .view-residents-address {
    //     height: 22px;
    //     left: 797px;
    //     top: 125px;
    //     font-family: "Open Sans";
    //     font-style: normal;
    //     font-weight: normal;
    //     font-size: 16px;
    //     display: flex;
    //     align-items: center;
    //     letter-spacing: 0.5px;
    //     color: #344563;
    //     margin: 0px;
    //     padding: 0px;
    //     transition: all linear 0.3s;
    //   }
    // }
    .search-bar {
      .form {
        background: #ffffff;
        border: none !important solid #e9e9e9;
        box-sizing: border-box;
        box-shadow: 0px 12px 50px rgba(0, 0, 0, 0.04);
        border-radius: 8px;
      }
      .input-group {
        height: 50px;
        align-items: center;
        outline: none;
      }
    }
  }
  .table-section {
    .table-content {
      tr {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      .table-head {
        tr{
          margin-bottom: 15px;
        .th {
          font-family: "Open Sans";
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 22px;
          color: #6c7b8a;
        }}
        .Col-1 {
          width: 35%;
        }
        .Col-2 {
          width: 35%;
          justify-content: space-between;
          display: flex;
          align-items: center;
        }
        .Col-3 {
          width: 30%;
          display: flex;
          justify-content: flex-end;
          margin-right: 40px;
        }
      }
      .table-tbody {
        display: flex;
        flex-direction: column;
        height: calc(100vh - 428px);
        overflow-y: auto;
        overflow-x: auto;
        background: rgb(246, 247, 251);
        .residents-table-row {
          background: white;
          height: 90px;
          margin-bottom: 5px;
          background: #ffffff;
          border-radius: 6px;
          cursor: pointer;

          td {
            border: none;
            outline: none;
            font-family: "Open Sans";
            font-style: normal;
            font-weight: bold;
            font-size: 17px;
            line-height: 22px;
            color: #6c7b8a;
          }
          .Col-1 {
            padding-left: 30px;
            transition: display 1s;
            font-family: "Open Sans";
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 22px;
            color: #344563;
            width: 35%;
            align-items: center;
            display: flex;
          }
          .Col-2 {
            width: 35%;
            justify-content: space-between;
            display: flex;
            align-items: center;
          }
          .Col-3 {
            font-family: "Open Sans";
            font-style: normal;
            font-weight: normal;
            font-size: 17px;
            line-height: 22px;
            text-align: right;
            color: #91909a;
            width: 30%;
            align-items: center;
            display: flex;
            justify-content: flex-end;
            margin-right: 40px;
          }
        }
        tr:hover {
          box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.07);
          cursor: pointer;
          z-index: 1;
        }
      }
    }
  }

  .pagination-section{
    justify-content: center;
    position: fixed;
    bottom: 10px;
    width: calc(100% - 280px);
    align-items: center;
    margin-bottom: 51px;
    .pagination-nav{
      height: 59px;
      width: 70%;
      align-items: center;
      display: flex;
      background: #FFFFFF;
      opacity: 0.78;
      border-radius: 500px;
      justify-content: space-between;
      padding: 0px 10px;
      span{
        .page-link{
          position: relative;
          display: block;
          padding: .5rem .75rem;
          margin-left: -1px;
          line-height: 1.25;
          background-color: #fff;
          border: none;
          color: #494F5E;
          font-size: 18px;
        }
        .page-link:hover{
          color: #009999;
        }
      }
      div{
        display: flex;
        flex-direction: row;
      }
      .next-page-btn{
        padding: 0px;
        box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.06);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        justify-content: center;
        display: flex;
        border: none;
        outline: none;
        cursor: pointer;
        background: #FFFFFF;
        align-items: center;
        i{
          color: #000000;
        }
      }

      .next-page-btn:hover{
        background: #009999;
        i{
          color: #FFFFFF;
        }
      }
      
    }
  }

  @media screen and (max-width: 1300px) {
    .table-tbody {
      .residents-table-row {
        .Col-1 {
          font-size: 15px !important;
        }
        .Col-3 {
          font-size: 15px;
        }
      }
    }
  }

  @media screen and (max-width: 991px) {
    .table-section {
      .table-head {
        .th {
          font-size: 13px !important;
        }
      }
      .table-tbody {
        .residents-table-row {
          .Col-1 {
            font-size: 13px !important;
          }
          .Col-3 {
            font-size: 13px !important;
          }
        }
      }
    }
    .pagination-section{
      width: 100%;
    }
  }

  @media screen and (max-width: 750px) {
    .table-section {
      .table-head {
        tr {
          height: 30px !important;
        }
        .th {
          font-size: 12px !important;
          line-height: 10px !important;
          padding: 0px !important;
        }
        .col-1{
          margin-left: 5px !important;
        }
        .Col-3 {
          margin-right: 5px !important;
        }
      }
      .table-tbody {
        tr {
          height: 50px !important;
        }
        .residents-table-row {
          margin-bottom: 3px !important;
          .Col-1 {
            font-size: 12px !important;
            margin-left: 5px !important;
          }
          .Col-3 {
            font-size: 12px !important;
            margin-right: 5px !important;
          }
        }
      }
      .Col-1 {
        padding: 2px !important;
      }
      .Col-3 {
        padding: 2px !important;
      }
    }
    .pagination-section{
      margin-bottom: 25px !important;
      .pagination-nav{
        height: 40px !important;
        span{
          .page-link{
            font-size: 14px !important;
          }
        }
        .next-page-btn{
          width: 30px !important;
          height: 30px !important;
        }
      }
    }
  }

  @media screen and (max-width: 450px) {
    .section-top {
      .view-residents-title {
        margin: 0px !important;
        font-size: 15px !important;
        line-height: 15px !important;
      }
      .view-residents-address {
        font-size: 12px !important;
        letter-spacing: 0.3px !important;
      }
      .search-bar {
        margin-top: 5px !important;
        .form {
          align-items: center;
          display: flex;
          flex-direction: row;
        }
        .input-group {
          height: 30px !important;
          margin-bottom: 0px !important;
          .input-group-append {
            height: 30px !important;
          }
          input {
            height: 30px !important;
          }
        }
      }
    }
    .table-section {
      min-width: 330px !important;
      .table-head {
        .th {
          font-size: 10px !important;
          line-height: 10px !important;
        }
        tr{
          margin-bottom: 0px !important;
        }
      }
      .table-tbody {
        height: calc(100vh - 300px) !important;
        tr {
          height: 35px !important;
        }
        .residents-table-row {
          .Col-1 {
            font-size: 10px !important;
          }
          .Col-3 {
            font-size: 10px !important;
          }
        }
      }
      .Col-1 {
        padding: 2px !important;
      }
      .Col-3 {
        padding: 2px !important;
      }
    }
  }

  @media screen and (max-width: 360px) {
    .section-top {
      .view-residents-title {
        margin: 0px !important;
        font-size: 12px !important;
        line-height: 12px !important;
      }
      .view-residents-address {
        font-size: 10px !important;
        letter-spacing: 0px !important;
      }
    }
    .table-section {
      .table-head {
        .th {
          font-size: 8px !important;
          line-height: 8px !important;
        }
      }
      .table-tbody {
        tr {
          height: 30px !important;
        }
        .residents-table-row {
          .Col-1 {
            font-size: 8px !important;
          }
          .Col-3 {
            font-size: 8px !important;
          }
        }
      }
    }
  }
}
