.change-community-component{
  display: flex;
  justify-content: center;
  .body-section{
    width: 60%;
    height: 400px;
    background: #FFFFFF;
    border-radius: 5px;
    .heading{
      margin-bottom: 40px;
      .col{
        span{
          font-family: 'Open Sans';
          font-style: normal;
          font-weight: 600;
          font-size: 24px;
          line-height: 33px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #344563;
        }
      }
    }
    .content-data{
      height: 400px;
      width: 100%;
      .col{
        div{
          width: 100%;
          label{
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
            display: flex;
            align-items: center;
            color: #6C7B8A;
          }
          .row-1{
            margin-bottom: 30px;
          }
          .row-2{
            margin-bottom: 10px;
          }
          .input-div{
            height: 50px;
            padding: 15px 20px 15px 20px;
            background: #FFFFFF;
            border: 1px solid #E9E9E9 ;
            box-sizing: border-box;
            border-radius: 6px;
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 21px;
            display: flex;
            align-items: center;
            color: #344563;
            outline: none;
          }
          input:focus{
            background: #F0F9F9;
            border: 1px solid #CCEBEB;
          }
        }
        .find-community-name{
          background: #FFFFFF;
          border: 1px solid #F3F3F3;
          box-sizing: border-box;
          box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.03);
          border-radius: 8px;
          ul{
            list-style: none !important;
            padding: 10px !important;
            margin:0px;
            li{
              height: 62px;
              border-radius: 3px;
              padding: 10px 14px;
              display: flex;
              flex-direction: row;
              ._icon{
                img{
                  width: 24px;
                  height: 21px; 
                }
              }
              .list-view{
                margin-left: 13px;
                display: flex;
                flex-direction: column;
                .name{
                  font-family: 'Open Sans';
                  font-style: normal;
                  font-weight: 600;
                  font-size: 16px;
                  line-height: 22px;
                  display: flex;
                  align-items: center;
                  color: #344563;
                  margin-bottom: 1px;
                }
                .location{
                  font-family: 'Open Sans';
                  font-style: normal;
                  font-weight: normal;
                  font-size: 14px;
                  line-height: 19px;
                  display: flex;
                  align-items: center;
                  color: #6C7B8A;
                }
              }
            }
            li:hover{
              background: #F0F9F9;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 1300px) {
    .body-section{
      .heading{
        .col{
          span{
            font-size: 22px !important;
          }
        }
      }
      .row-1{
        margin-bottom: 25px !important;
      }
      .row-2{
        margin-bottom: 10px !important;
      }
      .content-data{
        .col{
          div{
            label{
              font-size: 15px !important;
            }
            .input-div{
              height: 40px !important;
              padding: 10px 10px 10px 10px !important;
              font-size: 16px !important;
              line-height: 18px !important;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 800px) {
    .body-section{
      height: 300px !important;
      width: 100% !important;
      padding: 10px;
      .heading{
        .col{
          span{
            font-size: 15px !important;
          }
        }
      }
      .row-1{
        margin-bottom: 15px !important;
      }
      .row-2{
        margin-bottom: 5px !important;
      }
      .content-data{
        .col{
          div{
            label{
              font-size: 12px !important;
            }
            .input-div{
              height: 40px !important;
              padding: 10px 10px 10px 10px !important;
              font-size: 12px !important;
              line-height: 13px !important;
            }
          }
        }
        .find-community-name{
          ul{
            li{
              height: 40px !important;
              ._icon{
                img{
                  width: 20px !important;
                  height: 18px !important; 
                }
              }
              .list-view{
                .name{
                  font-size: 14px !important;
                  line-height: 18px !important;
                }
                .location{
                  font-size: 12px !important;
                  line-height: 15px !important;
                }
              }
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 800px) {
    .content-data{
      .find-community-name{
        ul{
          li{
            .name{
              font-size: 12px !important;
              line-height: 15px !important;
            }
            .location{
              font-size: 10px !important;
              line-height: 12px !important;
            }
          }
        }
      }
    }
  }
}